* {
    box-sizing: border-box;
}
.wrapper {
    width: 1480px;
    height: 1282px;
}
.heading {
    width: 334px;
    height: 79px;
margin-top: 63px;
margin-left: 98px;
}
.first-letters {
    text-decoration: none;
    font-family: Roboto;
font-size: 80px;
font-weight: 400;
line-height: 94px;
letter-spacing: 0px;
text-align: center;
color: black;    
}
.last-letters {
    text-decoration: none;
    font-family: MyriadPro;
font-size: 80px;
line-height: 94px;
letter-spacing: 0px;
text-align: center;
color:#4BCAFF
}
.top-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 49px;
    position: absolute;
    width: 1280px;
    height: 69px;
    left: 2px;
    top: 119px;
background: #35444F;
}
.top-menu a {
    text-decoration: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
}
.top-menu li {
    display: flex;
    width: fit-content;
    height: 100%;
    flex-grow: 1;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
} 
.top-menu li:hover {
    background: #222F3A;
}
.main {
    display: flex;
}
.left-border {
    display: flex;
    flex-direction: column;
width: 344px;
height: 399px;
left: 0px;
top: 0px;
background: rgba(0, 0, 0, 0.0001);
border: 1px solid #000000;
margin-top: 158px;
margin-left: 100px;
}
.left-border a{
    text-decoration: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 27px;
color: #485863;
margin-left: 44px;

}
.left-border li {
    display: flex;
    align-items: center;
    width: 342px;
height: 81px;
}
.left-border a:hover {
    color: black;
}
.left-border li:hover {
    background: #DBDBDB;
}
.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 885px;
height: 529px;
left: 0px;
top: 0px;
margin-top: 158px;
margin-left: 52px;
background: rgba(0, 0, 0, 0.0001);
border: 1px solid #000000;
}
.text {
    display: flex;
    flex-direction: column;
   width: 885px;
   height: 263px;
   margin-top: 37px;
   margin-left: 496px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #2C2C2C;
}
.text-first {
    width: 100%px;
   height: 109px;
}
.text-second {
    width: 100%;
    height: 109px;
    margin-top: 34px;
}
footer {
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 1280px;
    height: 69px; 
    background: rgba(99, 105, 110, 0.48);
    margin-left: 100px;
    margin-top: 54px;
}
.bottom-menu {
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 70%;

}
.bottom-menu a {
    justify-content: space-between;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.bottom-menu a:hover {
    color: #3181A6;
}
.end {
    text-decoration: none;
    justify-content: flex-end;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
width: 15%;
}